* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  font-size: 15px;
  font-family: inter;
  font-weight: 300;

  --body-bg-color: #f6f7fb;
  --header-bg-color: #f9f9fb;
  --footer-bg-color: #fafafc;

  --card-bg-color: #fff;
  --aside-bg-color: #fbfcff;

  --outline: #eaeaea;
  --btn-primary-bg-color: #1f6fec;
  --btn-primary-color: #fff;
  --btn-secondary-bg-color: #fff;
  --btn-secondary-color: #000;
  --btn-outline: #184379;
  --btn-outline-secondary: #e8e8ea;

  --active-pagination-bgc: #e6efff;

  --input-bg-color: #fdfdff;

  --title-text-color: #000;
  --label-text-color: #464646;
  --text-color: #505050;
  --text-article-color: #333;
  --tag-text-color: black;
  --tag-outline: #afb1c5;
  --tag-outline-secondary: #dedede;

  --tag-primary-bg-color: #e7eeff;
  --tag-secondary-bg-color: #fafbfd;
  --card-shadow: #36393d33 0px 0px 15px;

  --quote-bg-color: #f9faff;
  --quote-border-color: #79a1e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #1a1c2b;
    --header-bg-color: #151725;
    --footer-bg-color: #161726;

    --card-bg-color: #202233;
    --aside-bg-color: #151726;

    --outline: #292a39;
    --btn-primary-bg-color: #1f6fec;
    --btn-primary-color: #fff;
    --btn-secondary-bg-color: #1f2231;
    --btn-secondary-color: #000;
    --btn-outline: #184379;
    --btn-outline-secondary: #e8e8ea;

    --input-bg-color: #161726;

    --title-text-color: #d5d5d5;
    --text-color: #b5b7c1;
    --label-text-color: #c3c2c2;
    --text-article-color: #b3b3b3;
    --tag-text-color: #728cbd;
    --tag-outline: #444983;

    --tag-primary-bg-color: #303656;
    --tag-secondary-bg-color: #1f2033;

    --card-shadow: transparent;
    --quote-bg-color: #1a1c2b;
    --quote-border-color: #3f4465;
  }
  ul li::marker {
    color: var(--title-text-color);
  }
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

label {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--label-text-color);
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

hr {
  border: none;
  background-color: var(--outline);
  height: 1px;
}
strong {
  font-weight: 700;
}

input,
select,
textarea {
  color: var(--text-color);
  padding: 15px;
  border-radius: 16px;
  border: 1px var(--outline) solid;
  background-color: var(--input-bg-color);
  &::placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
}

option {
  color: var(--text-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
}

main {
  margin: 20px;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  &.col {
    flex-direction: column;
  }
}

.p-small {
  font-size: 0.8rem;
}

.card-gray {
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--aside-bg-color);
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px var(--outline) solid;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px; */
  box-shadow: var(--card-shadow);
  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .article-subtitle {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    margin: 10px 0px;
  }

  .card-content {
    padding: 15px;
    .tags {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
    }
  }
  .article-buttons {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
  }
}

.tag {
  font-size: 0.9rem;
  background-color: var(--tag-secondary-bg-color);
  border: 1px var(--tag-outline-secondary) solid;
  padding: 8px 12px;
  border-radius: 20px;
  color: var(--tag-text-color);
  &.active-tag {
    background-color: var(--tag-primary-bg-color);
    border: 1px var(--tag-outline) solid;
  }
}

.button {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: var(--btn-primary-bg-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px var(--btn-outline) solid;
  &.secondary {
    background-color: var(--btn-secondary-bg-color);
    color: var(--title-text-color);
    border: 1px var(--btn-outline-secondary) solid;
  }
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px var(--outline) solid;
  align-items: center;
  z-index: 200;
  .header-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
    }
    p {
      color: var(--title-text-color);
    }
  }
}

.header-actions {
  display: flex;
  gap: 10px;
}

#btn-propose {
  overflow: hidden;
  & span:nth-child(2) {
    display: none;
  }
}

.menu-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    gap: 20px;
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}

#btn-close-menu-nav {
  margin-bottom: 20px;
  label {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
}

#menu-btn-switch {
  &:checked ~ .menu-nav {
    display: block;
  }
}

main {
  margin: 100px 20px;
}

.page-footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
}

.page-footer-content {
  padding: 20px;
  border-top: 1px var(--outline) solid;
  display: grid;
  gap: 15px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  .footer-title {
    font-size: 1rem;
    color: var(--title-text-color);
    font-weight: 900;
    margin-bottom: 15px;
  }

  .footer-about {
    margin-bottom: 25px;
  }
}
.footer-copyright {
  padding: 0 15px;
  font-size: 0.8rem;
  hr {
    margin-bottom: 15px;
  }
}

/* =================================
SECTION : STYLE POUR TABLETTES
================================= */
@media (min-width: 768px) {
  .page-footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-wide {
    flex-direction: row;
    .card-content {
      width: 70%;
    }
    .article-subtitle {
      flex-wrap: wrap;
    }
    .article-buttons {
      flex-wrap: wrap;
    }
  }
}

/* =================================
SECTION : STYLES POUR DESKTOP
================================= */
@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .page-header,
  .page-footer-content,
  .footer-copyright,
  main {
    padding: 15px calc(20% - 50px);
  }

  #btn-close-menu-nav {
    display: none;
  }

  .menu-nav {
    display: inline-block;
    background-color: transparent;
    top: 0;
    left: 0;
    position: static;
    min-height: 0;

    font-size: 1rem;
    font-weight: 400;
    width: auto;
    ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 20px;
      a {
        color: var(--text-color);
        font-size: 1rem;
      }
    }
  }

  #menu-btn {
    display: none;
  }
  #btn-propose {
    overflow: hidden;
    & span:nth-child(1) {
      display: none;
    }
    & span:nth-child(2) {
      display: inline;
    }
  }
}

/* =================================
SECTION : Page accueil
================================= */

#main-accueil {
  display: grid;
  grid-template-areas:
    "main"
    "breaking"
    "last"
    "aside";
  gap: 10px;
  #main-article {
    grid-area: main;
    .card-content {
      justify-content: space-between;
      > p {
        flex-grow: 1;
      }
    }
  }

  #breaking-news {
    grid-area: breaking;
    padding: 15px 0 0 0;
    display: grid;
    gap: 15px;
    .breaking-news-headings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  #last-news {
    grid-area: last;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .last-news-headings {
      h2 {
        font-size: 1.2rem;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .card-gray {
      background-color: var(--aside-bg-color);
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--title-text-color);
        padding-right: 10px;
      }
      p {
        line-height: 1.6;
      }
    }
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h2 {
      font-size: 1rem;
    }
    .card-gray {
      padding: 20px 15px;
      gap: 20px;
    }
  }

  @media (min-width: 768px) {
    #breaking-news {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .breaking-news-headings {
        grid-column: 1 / -1;
      }
    }
  }

  @media (min-width: 1024px) {
    grid-template-areas:
      "main main main main"
      "breaking breaking breaking aside"
      "last last last aside";
    gap: 10px;
    margin: 100px auto;
    #breaking-news {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .breaking-news-headings {
        grid-column: 1 / -1;
      }
    }
  }
}

/* =================================
SECTION : Page articles
================================= */

#main-articles {
  display: flex;
  flex-direction: column;

  gap: 15px;
  > p {
    font-weight: 500;
  }
  h1 {
    font-size: 2.5rem;
  }

  #articles-content {
    display: grid;
    gap: 15px;
  }

  #articles-search {
    grid-area: "search";
    form {
      display: grid;
      gap: 10px;
      .searchbox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
      }
      label {
        font-weight: bold;
        /* color: black; */
      }
    }
  }
  .articles-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .articles-search-themes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #articles-articleslist {
    display: grid;
    gap: 15px;
  }
  .articles-pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    & .active {
      background-color: var(--active-pagination-bgc);
    }
  }
  #articles-aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2 {
      font-size: 1.3rem;
    }
  }
  #top-readings {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        font-weight: 500;
      }
      .title {
        font-weight: bold;
        color: var(--title-text-color);
        font-size: 1rem;
      }
    }
  }

  @media (min-width: 768px) {
    .articles-search-themes {
      grid-column: span 2;
    }
    form {
      grid-template-columns: 1fr 1fr;
    }

    #articles-articleslist {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    #articles-articleslist {
      grid-template-columns: repeat(3, 1fr);
    }

    #articles-content {
      display: grid;
      gap: 15px;
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "search search"
        "articles aside"
        "pagination .";
    }

    #articles-search {
      grid-area: search;
    }

    #articles-articleslist {
      grid-area: articles;
    }

    #articles-aside {
      grid-area: aside;
    }

    .articles-pagination {
      grid-area: pagination;
    }
  }
}

/* =================================
SECTION : Page article
================================= */

#page-article-main {
  display: grid;
  gap: 15px;

  .breadcrumb {
    ul {
      color: var(--text-color);
      display: flex;
      gap: 15px;
      font-size: 0.8rem;
      li + li {
        list-style: "> ";
      }
    }
  }
  .tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .subtitle {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 0.9rem;
  }

  figure {
    margin-bottom: 15px;
  }

  figure figcaption {
    padding: 15px;
    font-size: 0.9rem;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    p {
      color: var(--text-article-color);
    }

    h2 {
      font-size: 1.4rem;
    }

    ul {
      list-style-type: disc;
      margin-left: 15px;
      strong {
        color: var(--title-text-color);
      }
    }

    .quote {
      background-color: var(--quote-bg-color);
      border-radius: 16px;
      padding: 15px;
      border-left: 5px var(--quote-border-color) solid;
    }
  }

  .aside-articles {
    padding: 15px;
    h2 {
      font-size: 1.1rem;
      margin-bottom: 0;
    }
    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      P.title {
        font-weight: bold;
        color: var(--title-text-color);
        font-size: 0.9rem;
      }
    }
  }

  .share {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    .title {
      font-weight: bold;
      color: var(--title-text-color);
    }
    & p:last-child {
      font-size: 0.9rem;
    }
    .tag {
      font-weight: bold;
    }
  }

  .article-infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.9rem;
      strong {
        color: var(--title-text-color);
      }
    }
  }

  @media (min-width: 768px) {
    .article-container {
      padding: 25px;
    }
  }

  @media (min-width: 1024px) {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas:
      "breadcrumb breadcrumb breadcrumb breadcrumb"
      "article article article aside"
      "readnext readnext readnext aside"
      "share share share aside";
    .breadcrumb {
      grid-area: breadcrumb;
    }
    .article-content {
      grid-area: article;
    }
    .aside-articles {
      grid-area: readnext;
    }
    .share {
      grid-area: share;
    }
    .article-infos {
      grid-area: aside;
    }

    .aside-articles {
      article {
        padding: 10px;
      }
    }
  }
}

/* =================================
SECTION : CONTACT
================================= */

#page-contact-main {
  display: grid;
  gap: 15px;

  h1 {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  form {
    padding: 15px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    p,
    #message-type,
    textarea {
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9rem;
    }

    .checkbox-container {
      display: flex;
      gap: 10px;
      input {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }
    }
    .button {
      align-self: start;
    }
  }
  .aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.9rem;

    address {
      font-style: normal;
      color: var(--text-color);
      line-height: 1.8;

      strong {
        color: var(--text-article-color);
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }
    h2 {
      font-size: 0.9rem;
    }

    ul {
      color: var(--text-color);
      list-style: disc;
      padding-left: 30px;
    }
  }

  @media (min-width: 768px) {
    form .checkbox-container {
      margin-bottom: 10px;
    }

    .card,
    .card-gray {
      padding: 25px;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);

    > h1,
    > p {
      grid-column: span 4;
    }
    form {
      grid-column: span 3;
    }
  }
}

#page-agenda-main {
  h1 {
    margin-bottom: 5px;
  }
  display: grid;
  gap: 15px;

  form {
    padding: 15px;
    display: flex;
    gap: 15px;
    p {
      font-size: 0.8rem;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;

      h2 {
        font-size: 1rem;
        margin-bottom: 0;
      }
      .subtitle {
        display: flex;
        gap: 10px;
        font-size: 0.8rem;
      }
    }
    .tag {
      align-self: start;
      font-size: 0.8rem;
    }
  }
}
