* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  :root {
    --body-bg-color: #f6f7fb;
    --header-bg-color: #f9f9fb;
    --btn-primary-bg-color: #1f6fec;
    --btn-primary-color: #fff;
    --btn-secondary-bg-color: #fff;
    --btn-secondary-color: #000;

    --title-text-color: #000;
    --text-color: #535353;

    --tag-primary-bg-color: #e7eeff;
    --tag-secondary-bg-color: #fafbfd;
  }
}

@media (prefers-color-scheme: dark) {
}
