* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: inter;
  font-weight: 300;

  --body-bg-color: #f6f7fb;
  --header-bg-color: #f9f9fb;
  --footer-bg-color: #fafafc;

  --card-bg-color: #fff;

  --outline: rgb(234, 234, 234);
  --btn-primary-bg-color: #1f6fec;
  --btn-primary-color: #fff;
  --btn-secondary-bg-color: #fff;
  --btn-secondary-color: #000;

  --title-text-color: #000;
  --text-color: #787878;

  --tag-primary-bg-color: #e7eeff;
  --tag-secondary-bg-color: #fafbfd;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

hr {
  border: none;
  background-color: var(--outline);
  height: 1px;
}

@media (prefers-color-scheme: dark) {
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
}

main {
  margin: 20px;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  .col {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
  }

  .article-subtitle {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    margin: 10px 0px;
  }

  .card-content {
    padding: 15px;
    .tags {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
    }
  }
  .article-buttons {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
  }
}

.tag {
  background-color: var(--tag-secondary-bg-color);
  border: 1px var(--outline) solid;
  padding: 8px 12px;
  border-radius: 20px;
  &.active-tag {
    background-color: var(--tag-primary-bg-color);
    border: 1px #c6cbd9 solid;
  }
}

.button {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: var(--btn-primary-bg-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px rgb(68, 73, 131) solid;
  &.secondary {
    background-color: var(--btn-secondary-bg-color);
    color: var(--title-text-color);
    border: 1px var(--outline) solid;
  }
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px var(--outline) solid;
  align-items: center;

  .header-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
    }
    p {
      color: var(--title-text-color);
    }
  }
}

.header-actions {
  display: flex;
  gap: 10px;
}

#btn-propose {
  overflow: hidden;
  & span:nth-child(2) {
    display: none;
  }
}

.menu-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    gap: 20px;
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}

#btn-close-menu-nav {
  margin-bottom: 20px;
  label {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
}

#menu-btn-switch {
  &:checked ~ .menu-nav {
    display: block;
  }
}

main {
  margin-top: 100px;
}

.page-footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
}

.page-footer-content {
  padding: 20px 15px;
  border-top: 1px var(--outline) solid;
  display: grid;
  gap: 15px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  .footer-title {
    font-size: 1rem;
    color: black;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .footer-about {
    margin-bottom: 25px;
  }
}
.footer-copyright {
  padding: 0 15px;
  font-size: 0.8rem;
  hr {
    margin-bottom: 15px;
  }
}

/* =================================
SECTION : STYLE POUR TABLETTES
================================= */
@media (min-width: 768px) {
  .page-footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-wide {
    flex-direction: row;
    .card-content {
      width: 70%;
    }
    .article-subtitle {
      flex-wrap: wrap;
    }
    .article-buttons {
      flex-wrap: wrap;
    }
  }
}

/* =================================
SECTION : STYLES POUR DESKTOP
================================= */
@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .page-header,
  .page-footer-content,
  .footer-copyright,
  main {
    padding: 15px 20%;
  }

  #btn-close-menu-nav {
    display: none;
  }

  .menu-nav {
    display: inline-block;
    background-color: transparent;
    top: 0;
    left: 0;
    position: static;
    min-height: 0;

    font-size: 1rem;
    font-weight: 400;
    width: auto;
    ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 20px;
      a {
        color: var(--text-color);
        font-size: 1rem;
      }
    }
  }

  #menu-btn {
    display: none;
  }
  #btn-propose {
    overflow: hidden;
    & span:nth-child(1) {
      display: none;
    }
    & span:nth-child(2) {
      display: inline;
    }
  }
}
