* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  font-family: inter;
  font-weight: 300;

  --body-bg-color: #f6f7fb;
  --header-bg-color: #f9f9fb;
  --footer-bg-color: #fafafc;

  --card-bg-color: #fff;
  --aside-bg-color: #fbfcff;

  --outline: rgb(234, 234, 234);
  --btn-primary-bg-color: #1f6fec;
  --btn-primary-color: #fff;
  --btn-secondary-bg-color: #fff;
  --btn-secondary-color: #000;
  --btn-outline: #184379;
  --btn-outline-secondary: #e8e8ea;

  --active-pagination-bgc: #e6efff;

  --input-bg-color: #fdfdff;

  --title-text-color: #000;
  --text-color: #787878;
  --tag-text-color: black;
  --tag-outline: rgb(175, 177, 197);
  --tag-outline-secondary: rgb(44, 51, 105);

  --tag-primary-bg-color: #e7eeff;
  --tag-secondary-bg-color: #fafbfd;
  --card-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #1a1c2b;
    --header-bg-color: #151725;
    --footer-bg-color: #161726;

    --card-bg-color: #202233;
    --aside-bg-color: #151726;

    --outline: #292a39;
    --btn-primary-bg-color: #1f6fec;
    --btn-primary-color: #fff;
    --btn-secondary-bg-color: #1f2231;
    --btn-secondary-color: #000;
    --btn-outline: #184379;
    --btn-outline-secondary: #e8e8ea;

    --input-bg-color: #161726;

    --title-text-color: #d5d5d5;
    --text-color: #b5b7c1;
    --tag-text-color: #728cbd;
    --tag-outline: rgb(68, 73, 131);

    --tag-primary-bg-color: #303656;
    --tag-secondary-bg-color: #1f2033;

    --card-shadow: transparent;
  }
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

hr {
  border: none;
  background-color: var(--outline);
  height: 1px;
}
strong {
  font-weight: 700;
}

input,
select {
  color: var(--text-color);
  padding: 15px;
  border-radius: 16px;
  border: 1px var(--outline) solid;
  background-color: var(--input-bg-color);
  &::placeholder {
    color: var(--text-color);
    opacity: 0.5;
  }
}

option {
  color: var(--text-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
}

main {
  margin: 20px;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  &.col {
    flex-direction: column;
  }
}

.p-small {
  font-size: 0.8rem;
}

.card-gray {
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--aside-bg-color);
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px var(--outline) solid;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px; */
  box-shadow: var(--card-shadow);
  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .article-subtitle {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    margin: 10px 0px;
  }

  .card-content {
    padding: 15px;
    .tags {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
    }
  }
  .article-buttons {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
  }
}

.tag {
  font-size: 0.9rem;
  background-color: var(--tag-secondary-bg-color);
  border: 1px var(--tag-outline-secondary) solid;
  padding: 8px 12px;
  border-radius: 20px;
  color: var(--tag-text-color);
  &.active-tag {
    background-color: var(--tag-primary-bg-color);
    border: 1px var(--tag-outline) solid;
  }
}

.button {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: var(--btn-primary-bg-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px var(--btn-outline) solid;
  &.secondary {
    background-color: var(--btn-secondary-bg-color);
    color: var(--title-text-color);
    border: 1px var(--btn-outline-secondary) solid;
  }
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px var(--outline) solid;
  align-items: center;

  .header-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
    }
    p {
      color: var(--title-text-color);
    }
  }
}

.header-actions {
  display: flex;
  gap: 10px;
}

#btn-propose {
  overflow: hidden;
  & span:nth-child(2) {
    display: none;
  }
}

.menu-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    gap: 20px;
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}

#btn-close-menu-nav {
  margin-bottom: 20px;
  label {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
}

#menu-btn-switch {
  &:checked ~ .menu-nav {
    display: block;
  }
}

main {
  margin: 100px 20px;
}

.page-footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
}

.page-footer-content {
  padding: 20px;
  border-top: 1px var(--outline) solid;
  display: grid;
  gap: 15px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  .footer-title {
    font-size: 1rem;
    color: var(--title-text-color);
    font-weight: 900;
    margin-bottom: 15px;
  }

  .footer-about {
    margin-bottom: 25px;
  }
}
.footer-copyright {
  padding: 0 15px;
  font-size: 0.8rem;
  hr {
    margin-bottom: 15px;
  }
}

/* =================================
SECTION : STYLE POUR TABLETTES
================================= */
@media (min-width: 768px) {
  .page-footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-wide {
    flex-direction: row;
    .card-content {
      width: 70%;
    }
    .article-subtitle {
      flex-wrap: wrap;
    }
    .article-buttons {
      flex-wrap: wrap;
    }
  }
}

/* =================================
SECTION : STYLES POUR DESKTOP
================================= */
@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .page-header,
  .page-footer-content,
  .footer-copyright,
  main {
    padding: 15px 20%;
  }

  #btn-close-menu-nav {
    display: none;
  }

  .menu-nav {
    display: inline-block;
    background-color: transparent;
    top: 0;
    left: 0;
    position: static;
    min-height: 0;

    font-size: 1rem;
    font-weight: 400;
    width: auto;
    ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 20px;
      a {
        color: var(--text-color);
        font-size: 1rem;
      }
    }
  }

  #menu-btn {
    display: none;
  }
  #btn-propose {
    overflow: hidden;
    & span:nth-child(1) {
      display: none;
    }
    & span:nth-child(2) {
      display: inline;
    }
  }
}

/* =================================
SECTION : Page accueil
================================= */

#main-accueil {
  display: grid;
  grid-template-areas:
    "main"
    "breaking"
    "last"
    "aside";
  gap: 10px;
  #main-article {
    grid-area: main;
    .card-content {
      justify-content: space-between;
      > p {
        flex-grow: 1;
      }
    }
  }

  #breaking-news {
    grid-area: breaking;
    padding: 15px 0 0 0;
    display: grid;
    gap: 15px;
    .breaking-news-headings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  #last-news {
    grid-area: last;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .last-news-headings {
      h2 {
        font-size: 1.2rem;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .card-gray {
      background-color: var(--aside-bg-color);
      padding: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--title-text-color);
        padding-right: 10px;
      }
      p {
        line-height: 1.6;
      }
    }
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h2 {
      font-size: 1rem;
    }
    .card-gray {
      padding: 20px 15px;
      gap: 20px;
    }
  }

  @media (min-width: 768px) {
    #breaking-news {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .breaking-news-headings {
        grid-column: 1 / -1;
      }
    }
  }

  @media (min-width: 1024px) {
    grid-template-areas:
      "main main main main"
      "breaking breaking breaking aside"
      "last last last aside";
    gap: 10px;
    margin: 100px auto;
    #breaking-news {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .breaking-news-headings {
        grid-column: 1 / -1;
      }
    }
  }
}

/* =================================
SECTION : Page articles
================================= */

#main-articles {
  #articles-search {
    grid-area: "search";
  }
  .articles-search-themes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #articles-articleslist {
    display: grid;
    gap: 15px;
    .articles-pagination {
      display: flex;
      gap: 5px;
      justify-content: center;
      & .active {
        background-color: var(--active-pagination-bgc);
      }
    }
  }
}
