* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: inter;
  font-weight: 300;

  --body-bg-color: #f6f7fb;
  --header-bg-color: #f9f9fb;
  --footer-bg-color: #fafafc;

  --outline: rgb(234, 234, 234);
  --btn-primary-bg-color: #1f6fec;
  --btn-primary-color: #fff;
  --btn-secondary-bg-color: #fff;
  --btn-secondary-color: #000;

  --title-text-color: #000;
  --text-color: #787878;

  --tag-primary-bg-color: #e7eeff;
  --tag-secondary-bg-color: #fafbfd;
}

ul {
  list-style: none;
}

hr {
  border: none;
  background-color: var(--outline);
  height: 1px;
}

@media (prefers-color-scheme: dark) {
}

body {
  background-color: var(--body-bg-color);
}

main {
  margin: 20px;
}

.button {
  border-radius: 25px;
  padding: 15px;
  background-color: var(--btn-primary-bg-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px rgb(68, 73, 131) solid;
  &.secondary {
    background-color: var(--btn-secondary-bg-color);
    color: var(--title-text-color);
    border: 1px var(--outline) solid;
  }
}

.page-header {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px var(--outline) solid;
  align-items: center;

  .header-logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
    }
  }
}

.header-actions {
  display: flex;
  gap: 10px;
}

.menu-nav {
  display: none;
}

.page-footer {
  border-top: 1px var(--outline) solid;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 15px;
  background-color: var(--footer-bg-color);
  color: var(--text-color);

  a {
    text-decoration: none;
    color: var(--text-color);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  .footer-title {
    font-size: 1rem;
    color: black;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .footer-about {
    margin-bottom: 25px;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
}
