* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  /* CSS propre au mode sombre */
}

@media (prefers-color-scheme: light) {
  /* CSS propre au mode clair */
}
